body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color: grey;
    font-size: smaller;
}

.wrapper {
    max-width: 960px;
    margin-inline: auto;
}

.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px 0px 20px;
}

.body {
    padding: 10px;
    background-color: #bfdbdd;
}

.nav-end {
    padding-right: 1em;
    color: rgb(92, 92, 92);
    font-size: smaller;
}

a {
    color: black;  
    text-decoration: none; 
}

a:hover,
.nav-link:hover {
    color: #D64045;
    text-decoration: none;
}


label {
    width: 30%;
}

.grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(255px, 1fr));
}

.title-container {
    font-size: 18px;
    border: #D64045 solid 1px;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    background-color: rgb(253, 253, 253);
}

.primary-container {
    margin: 1em; 
    border:#1D3354 solid 1px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    padding: 1em 1em 1em 1em;
}

.secondary-container {
    margin: 1em;
    border:#D64045 solid 1px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    padding: 1em 2em 1em 2em;
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    max-width: 285px;
    padding: 0 0 10px 0;
}

#product:hover {
    border: #D64045 solid 1px;
}

#product-image {
    object-fit:cover;
    width: 100%;
    height: 200px;
}

#product-title,
#product-description,
#product-price {
    text-align: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;   
}

.grey {
    color: grey;
}

.larger {
    font-size: larger;
}

#listing-page-top-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

#listing-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

.listing-page-top-container-left {
    height: 250px;
    display: flex;
    align-items: center;
}

.listing-page-top-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.input {
    border: #D64045 solid 1px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    min-width: 0px;
    outline: none;
    margin-bottom: 10px;;
}


.input:hover
 {
    border: #D64045 solid 2px;
}

.input:focus {
    border: 2px solid #D64045;
}


input[type=submit] {
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    min-width: 0px;
}

.bid-button {
    background-color: #D64045;  
}

.watchlist-button {
    background-color: #467599;
}

#listing-details,
#listing-comments {
    font-weight: bolder;
    font-size: larger;
}

#listing-details-container {
    display: flex;
    margin-top: 1em;
    gap: 2em;
    font-weight:500;
    font-size: medium;
}

.table-right-column,
.table-left-column {
    padding-right: 1em;
    padding-bottom: 1em;
}

#listing-description,
.comment {
    font-style: italic;
}

.listing-comments-container {
    padding-top: 1em;
    font-weight:500;
    font-size: medium;  
}

.close-auction,
.comments-form {
    padding-top: 1em;
    padding-bottom: 1em;
}

#categories {
    padding-left: 4em;
    font-size: larger;
}

.category {
    padding-bottom: 5px;
}

#description {
    width: 70%;
    height: 12em;
    min-width: 0;
    max-width: 400px;
}

#comment {
    width: 70%;
    height: 3em;
    min-width: 0;
    max-width: 400px;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    
}