{% extends "auctions/layout.html" %}

{% block title %}
Categories
{% endblock %}

{% block body %}
    <div class="body">
        <div class="wrapper">
            <div class="title-container">Categories</div>
            <ul class="primary-container" id="categories">
                {% for category in categories %}
                <a href="{% url 'category_listings' category.id %}"><li class="category">{{ category.category_list }}</li></a>
                {% endfor %}
            </UL>
        </div>
    </div>


{% endblock %}