{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <a href="{% url 'listing_page' listing.id %}">
    <div class="listing_box">
        <div>
            <img src="{{ listing.image_url }}">
        </div>
        <div>
            <div id="index_listing_title"> {{ listing.title}}</div>
            <div id="index_listing_price"> <strong>Price: </strong>${{ listing.min_bid }}</div>
            <div id="index_listing_date"> Posted {{ listing.date }}</div>
        </div>
        <div class="listing_box_description">
            <div id="index_listing_description">{{ listing.description }}</div>
        </div>
    </div>
    </a>
    {% endfor %}
{% endblock %}