{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body">
        <div class="wrapper">
            <div class="title-container">Login</div>
            <div id="login" class="primary-container">
                <div class="grey">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>  
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}             
                    <input autofocus class="input" type="text" name="username" placeholder="Username">
                    <br>
                    <input class="input" type="password" name="password" placeholder="Password">
                    <br>
                    <input class="bid-button" type="submit" value="Login">
                </form>  
                {% if message %}
                    <div class="error">{{ message }}</div>
                {% endif %}              
            </div>
        </div>
    </div>
{% endblock %}