{% extends "auctions/layout.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}
<div class="body">
    <div class="page-title">Your Watchlist</div>
    <div class="grid">
        {% for listing in listings %}
        <a href="{% url 'listing_page' listing.id %}">
        <div class="product">
            <img id="product-image" src="{{ listing.image_url }}" alt="listing_image">
            <h4 id="product-title"> {{ listing.title}}</h4>
            <div id="product-description" class="grey"> {{ listing.description }}</div>
            <div id="product-price" class="larger">Price: ${{ listing.min_bid }}</div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}